*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    width: 100vw;
    height: 112px;
    background-color: #FFBF35;
    color: white;
    display: flex;
    gap: 10px;
    background-image: url('./img/icons.png'), url('./img/Group\ 4.png'), url('./img/Group\ 5.png');
    background-repeat: no-repeat;
    background-position: 98% 50%, 38% 50%, 22% 50%;
}

header p{
    font-size: 60px;
    text-shadow: #000 1px 0px 5px;
    font-family: "Inknut Antiqua", serif;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 10px;
}

.menu2{
    padding-top: 44px;
    padding-left: 1100px;
}

.menu2 input{
    width: 323px;
    height: 32px;
    padding: 8px;
    border: none;
    border-radius: 6px;
}

.menu2 button{
    width: 83px;
    height: 26px;
    /* border: none;
    border-radius: 5px; */
}

.conteudo{
    height: 807px;
    background-image: url('./img/image\ 18.png'); 
    background-color: #0006;
    background-blend-mode: darken;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.conteudo p{
    color: #ffff;
    font-size: 90px;
    display: flex;
    justify-content: center;
    padding-top: 17%;
    text-shadow: #000 -4px 3px 2px;
    font-family: "Gidole", sans-serif;
}




